body {
	padding: 10px 10px;
	background: url(../images/linedpaper.png);
}

h1 {
	font-size: 54px;
	font-weight: bold;
	margin-top: 20px;
	text-align: center;
	font-family: 'Homemade apple', cursive;
	color: darkblue;
}

h2 {
	font-family: 'Reenie Beanie', cursive;
	font-size: 32px;
	text-align: center;
	margin: 22px 0px;
	color: darkblue;
	line-height: 50px;
}

h3 {
	font-family: 'Homemade apple', cursive;
	font-size: 22px;
	text-align: center;
	color: darkblue;
	line-height: 32px;
	margin: 15px 0px;
}

p {
	font-size: 32px;
	font-family: 'Reenie Beanie', cursive;
	line-height: 40px;
	color: darkblue;
	text-align: center;
}

div {
	width: 100%;
	text-align: center;
}

img {
	padding: 0px 0px 10px 40px;
}

button {
	background-color: darkblue;
	color: lavender;
	font-size: 24px;
	font-family: 'Reenie Beanie', cursive;
	text-align: center;
	margin: 20px 10px;
	padding: 10px;
	border-radius: 10px;
	border: 3px solid lavender;
	cursor: pointer;
}

button:hover {

}

