/* hangman styles */
html {
	position: relative;
	padding: 0px;
	margin: 0px;
}

body {
	padding: 10px 10px;
	background: url(../images/parchment.jpg);
}

h1 {
	font-size: 54px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 35px;
	text-align: center;
	font-family: 'Princess Sofia', cursive;
}

h2 {
	font-family: 'Reenie Beanie', cursive;
	font-size: 32px;
	text-align: center;
	margin: 22px 0px;
	line-height: 50px;
}

h3 {
	font-family: 'Princess Sofia', cursive;
	font-size: 26px;
	margin: 20px 0px;
}

p {
	font-size: 32px;
	font-family: 'Reenie Beanie', cursive;
	margin-top: 12px 0px;
}

div {
	width: 31.99%;
	margin-top: 1.5%;
}

button {
	background-color: white;
	color: black;
	font-size: 24px;
	font-family: 'Princess Sofia', cursive;
	text-align: center;
	margin: 2%;
	padding: 10px 20px;
	border-radius: 10px;
	cursor: url("../images/wand.png"), pointer;
}

.left {
	float: left;
	padding-left: 2%;
}

.child {
	width: 100%;
}

.right {
	float: right;
}

.center {
	text-align: center;
}

.smaller {
	font-size: 22px;
	margin-top: 12px;
}

.height {
	vertical-align: middle;
	padding: 10% 0;
}

.clear:after {
	clear: both;
}

.display {
	display: initial;
}

.hidden {
	display: none;
}

#winner {
	position: absolute;
	height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

